/* Modal Content */
.modal-content {
  position: absolute; /* Tornar o modal estático */
  width: 90%; /* Usar porcentagem para largura responsiva */
  max-width: 1200px; /* Definir uma largura máxima */
  height: auto; /* Ajustar altura automaticamente */
  max-height: 100vh; /* Definir uma altura máxima relativa à viewport */
  display: flex;
  flex-direction: column; /* Garantir que os itens estejam em uma coluna */
  justify-content: flex-start; /* Alinhar itens ao topo */
  align-items: center;
  z-index: 4; /* Defina um z-index alto para garantir que o modal fique em cima das outras divs */
  padding: 20px; /* Adicionar um padding para o conteúdo */
  box-sizing: border-box; /* Incluir padding e borda na largura e altura */
  left: 50%;
  transform: translateX(-50%);
}
.PaperMiddle-img {
  width: 100%; /* Ajustar a largura para 100% do contêiner pai */
  height: auto; /* Manter a proporção da imagem */
  max-width: 765px; /* Garantir que a largura máxima não ultrapasse 765px */
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 350%; /* Ajustar conforme necessário */
  left: 55%; /* Mover um pouco para a direita */
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .modal-content {
    width: 85%; /* Ajustar a largura em telas menores */
    max-width: 100%; /* Remover a largura máxima */
    padding: 10px; /* Reduzir padding */
  }
  .PaperMiddle-img {
    top: 700%;
    left: 57%; /* Manter a posição um pouco para a direita */
  }
}
@media (max-width: 768px) {
  .modal-content {
    width: 85%; /* Ajustar a largura em telas menores */
    max-width: 100%; /* Remover a largura máxima */
    padding: 10px; /* Reduzir padding */
  }
  .PaperMiddle-img {
    top: 450%;
    left: 57%; /* Manter a posição um pouco para a direita */
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 85%; /* Ajustar a largura em telas menores */
    max-width: 100%; /* Remover a largura máxima */
    padding: 10px; /* Reduzir padding */
  }
  .PaperMiddle-img {
    left: 57%; /* Manter a posição um pouco para a direita */
    top: 60px; /* Ajustar conforme necessário */
  }
}

@media (max-width: 320px) {
  .modal-content {
    width: 85%; /* Ajustar a largura em telas menores */
    max-width: 100%; /* Remover a largura máxima */
    padding: 10px; /* Reduzir padding */
  }
  .PaperMiddle-img {
    left: 55%; /* Manter a posição um pouco para a direita */
    top: 250px; /* Ajustar conforme necessário */
  }
}