.modal {
  position: absolute; /* Tornar o modal estático */
  width: 100%;
  height: 100%;
  margin-top: 300px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6; /* Defina um z-index alto para garantir que o modal fique em cima das outras divs */
  overflow: -moz-hidden-unscrollable;
  

}
.modal-div1 {
  margin-bottom: 80px;
  margin-left: 65px;
  width: 520px;
}
.modal-div1 h2 {
  text-align: center;
}
.modal-div1 h3 {
  text-align: center;
}
.modal-div2 {
  margin-bottom: 495px;
  margin-left: 65px;
  width: 520px;
  align-items: center;
}
.modal-div2 h2 {
  text-align: center;
}
.modal-div2 h3 {
  text-align: center;
}
.modal-div3 {
  margin-bottom: 225px;
  margin-left: 65px;
  width: 520px;
}
.modal-div3 h2 {
  text-align: center;
}
.modal-div3 h3 {
  text-align: center;
}
.modal-content {
  position: absolute; /* Tornar o modal estático */
  width: 760px;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6; /* Defina um z-index alto para garantir que o modal fique em cima das outras divs */
  overflow: -moz-hidden-unscrollable;
  
}

@media screen and (max-width: 915px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 480px){
  .modal{
  transform: scale(0.5);
  margin-top: -180px;
 }
}

@media screen and (max-width: 414px){
  .modal{
    transform: scale(0.5);
    margin-top: -165px;
    
   }
   .modal-content{
    width: 700px;
    height: 1200px;
    margin-left: 50px;
   }
}

@media screen and (max-width: 375px){
  .modal{
    transform: scale(0.4);
    margin-top: -135px;
   }
   .modal-content{
    width: 800px;
    height: 1300px;
    margin-left: 50px;
   }
}

.PaperMiddle-img {
  width: 100%; /* Definindo a largura em relação ao contêiner pai */
  height: 100%; /* Definindo a altura em relação ao contêiner pai */
  max-width: 100%; /* Garantindo que a largura máxima não ultrapasse o contêiner pai */
  max-height: 100%; /* Garantindo que a altura máxima não ultrapasse o contêiner pai */
}
