/* Navbar principal */
.navbar {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  max-width: 1200px;
  max-height: 200px;
}

.navbar_img {
  position: absolute;
  top: -10px;
  max-width: 100%;
  max-height: 100%;
  z-index: 8;
}

/* Botões principais */
.btn, .btn2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  z-index: 5;
}

.btn2 {
  z-index: 10;
}

/* Botões adicionais */
.btn_play {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
  box-sizing: border-box;
}

.btn_left {
  position: absolute;
  top: 2px;
  left: -140px;
  display: block;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.btn_right {
  position: absolute;
  top: 2px;
  right: -330px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 6;
}

/* Elementos "morro" */
.morro_left {
  position: absolute;
  top: -30px;
  left: -95px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.morro_right {
  position: absolute;
  top: -30px;
  right: -170px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 5;
}

/* Menu principal */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Usando flexbox para alinhamento */
  z-index: 8;

}

/* Menu de botões */
.menu_btn {
  position: absolute;
  top: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Usando flexbox para alinhamento */
  z-index: 9;
  font-size: 12px;
}

/* Itens do menu de botões */
.menu_btn li {
  position: relative; /* Necessário para alinhamento interno */
  margin-right: 170px;
  left: 90px;
  max-width: 90px; /* Definindo uma largura fixa para os botões */
  z-index: 9;
}

/* Estilo dos botões do menu */
.menu_btn li button {
  font-size: inherit; /* Mantém o tamanho da fonte do elemento pai */
  font-family: inherit; /* Mantém a família da fonte do elemento pai */
  background: none; /* Remove o fundo */
  border: none; /* Remove a borda */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
  color: #FFF;
  width: 100%; /* Fazendo com que o botão ocupe toda a largura do elemento pai */
  z-index: 9;
}

.menu_btn li a {
  text-decoration: none;
  color: #FFF;
  padding: 10px;
  display: block;
  z-index: 9;
  justify-content: space-around; /* Distribui uniformemente os itens */
}

.menu_btn li:hover .sub-menu {
  display: block;
  justify-content: space-around;
  z-index: 8;
}

/* Itens do menu principal */
.menu li {
  position: relative; /* Necessário para alinhamento interno */
  margin-right: 20px;
  max-width: 90px; /* Definindo uma largura fixa para os botões */
  z-index: 9;
}

/* Estilo dos botões do menu principal */
.menu li button {
  font-size: inherit; /* Mantém o tamanho da fonte do elemento pai */
  font-family: inherit; /* Mantém a família da fonte do elemento pai */
  background: none; /* Remove o fundo */
  border: none; /* Remove a borda */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
  color: #FFF;
  width: 100%; /* Fazendo com que o botão ocupe toda a largura do elemento pai */
  z-index: 8;
}

.menu li button:hover {
  text-shadow: 1px 1px 5px rgb(130, 130, 130), 0 0 1em rgb(255, 167, 221), 0 0 0.2em rgb(226, 226, 255);
}

/* Links do menu principal */
.menu li a {
  text-decoration: none;
  color: #FFF;
  padding: 10px;
  display: block;
  z-index: 8;
  justify-content: space-around; /* Distribui uniformemente os itens */
}

/* Submenu */
.sub-menu {
  display: none;
  top: calc(20% + 5px); /* Posiciona o submenu abaixo do botão */
  right: calc(20% + 5px);
  position: relative;
  z-index: 8;
  width: 100%; /* Definindo a largura do submenu igual à largura do botão */
  background-color: #333; /* Fundo do submenu */
}

.menu li:hover .sub-menu {
  display: block;
  justify-content: space-around;
  z-index: 8;
}

.sub-menu li {
  display: block;
  z-index: 8;
}

/* Responsividade */

/* Para telas até 980px */
@media screen and (max-width: 980px) {
  .btn, .btn2 {
    transform: translate(-50%, 50%) scale(0.9);
  }
}

/* Para telas até 768px */
@media screen and (max-width: 768px) {
  .btn, .btn2 {
    transform: translate(-50%, 50%) scale(0.6);
  }

  .menu {
    font-size: 12px;
  }

  .menu_btn {
    font-size: 8px;
  }
}

/* Para telas até 650px */
@media screen and (max-width: 650px) {
  .menu_btn {
    font-size: 12px;
  }
  .menu {
    font-size: 8px;
  }
}

/* Para telas até 480px */
@media screen and (max-width: 480px) {
  .navbar{
    top: 16%;
  }   
  .btn, .btn2 {
    transform: translate(-50%, 50%) scale(0.5);
  }
  .menu li {
    margin-right: 2px;
  }
  .menu, .menu_btn {
    font-size: 6px;
  }
}

/* Para telas até 380px */
@media screen and (max-width: 380px) {
  .menu_btn {
    font-size: 12px;
  }
  .menu {
    top: -5px;
    font-size: 6px;
  }
  .menu li {
  margin-right: 5px;
}
  .btn, .btn2 {
    transform: translate(-50%, 50%) scale(0.3);
  }
}
